<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Library de Babel</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>

<body>
    <center>
        <h1>La Bibliotheca de Babel</h1>
        <h2>The linear version</h5>
        <div class="hor-menu">
            <ul>
                <li><a href="/">Home</a></li><span>|</span>
                <li><a href="/browse">Browse</a></li><span>|</span>
                <li><a href="/search">Search</a></li><span>|</span>
                <li><a href="/random">Random</a></li>
            </ul>
        </div>
        <hr>

        <div id="board">
            <span >0</span><span>,</span>
            <span>0</span>
            <span>0</span>
            <span>0</span>
            <span>0</span>
            <span>29</span>
        </div>

    </center>


</body>

</html>