<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaasje dit</title>
</head>
<body style="padding: 2% 25% 5% 25%">
    {# <img src="{{ url_for('static', filename='images/room.png') }}" alt="room with books" width="30%"> #}
    <h1>{{ name }}</h1>
    <div style="width: 80ch; border: 1px solid red; word-wrap:break-word">
        <p>{{ output }}</p>
    </div>
    
</body>
</html>